.panel.panel-default
  .panel-heading 
    %h3.panel-title Opombe
  %table.table
    %tbody
      - resource.remarks.order(created_at: :desc).each do |r|
        %tr
          %td= r.remark
          %td
            %small.muted
              = r.user
              - if r.created_at > 1.week.ago
                pred
                = distance_of_time_in_words_to_now r.created_at
              - else
                = l r.created_at, format: :short
          %td= link_to "x", [:admin, r], method: :delete
  .panel-body
    = simple_form_for [:admin, resource.remarks.build(user: current_user)], wrapper: :inline_form, html: { class: 'form-inline' } do |f|
      = f.hidden_field :user_id
      = f.hidden_field :remarkable_id
      = f.hidden_field :remarkable_type
      = f.input :remark, placeholder: "Nova opomba", label: false
      = f.submit :Shrani