= title "Institucije"
= admin_section do
  = link_to "Dodaj institucijo", new_institution_path

.pagination_top
  = paginate @institutions, window: 3
  %br.clear

- generate_table @institutions, [:name], [:edit, :destroy]

.pagination_bottom
  = paginate @institutions, window: 3
  %br.clear