%strong= I18n.t 'attributes.entities.title'
%p= resource.title
%strong= I18n.t 'attributes.address'
%p= resource.address
%strong= I18n.t 'attributes.post'
%p= resource.post
- if resource.city?
  %strong= I18n.t 'attributes.city'
  %p= resource.city
- if resource.phone?
  %strong= I18n.t 'attributes.phone'
  %p= resource.phone
- if resource.email?
  %strong= I18n.t 'attributes.email'
  %p= mail_to resource.email