%h1
  = @subscriber
  %small.muted
    prejemnik za
    = link_to @subscriber.customer, [:admin, @subscriber.customer]

.row
  .col-xs-8
    = simple_form_for [:admin, @subscriber] do |f|
      = f.error_notification
      = render "form", f: f
