%h1 
  Ustvari prejemnika
  %small.muted
    za
    = link_to resource.customer, [:admin, resource.customer]

.row
  .col-xs-8
    = simple_form_for [:admin, resource] do |f|
      = f.error_notification
      = f.hidden_field :customer_id      
      = render "form", f: f