= javascript_include_tag "upload"

= title "Uredi dokument"
= simple_form_for @issue do |f|
  = f.input :document, input_html: {:"data-url" => "document"}
  #document
    = link_to @issue.document_file_name, @issue.document.file? ? @issue.document.url : ""
  #progress
    .bar 
    .percent 0%

.submit= button_to "Prosimo poÄakajte ...", @issue, :id => :finish, :disabled => true, :method => :get, :class => :disabled

:javascript
  var FileUploadDOMId = '#issue_document'
  function FileUploadVzgojiteljica(e, data) {
    if ( data && data.result && data.result.url ) {
      $('#document a').attr('href', data.result.url).text(data.result.file_name);
    }
  }