<%= title "Številke" %>

<%= admin_section do %>
  <%= link_to "Pregled", all_issues_path %>
  <%= link_to "Dodaj številko", new_issue_path %>
 <% end %>

<% @issues_by_years.each do |year, issues| %>
  <div class='yeear'>
    <%= year %>
    <%= render issues %>
  </div>
<% end %>