<%= title "Vzgojiteljica št. #{@issue.issue}, letnik #{@issue.year}" %>

<div class='cover'>
  <%= image_tag @issue.cover.url %>

  <% if @issue.document.file? %>
    <% if @issue.older_than_2_years? or signed_in? %>
      <div id="download_issue">
        <%= link_to "Prenesite številko", @issue.document.url%>
      </div>
    <% end %>
  <% end %>
</div>

<% @issue.articles_grouped_by_sections.each do |section, articles| %>
  <div class='section'>
    <h2><%= section %></h2>
    <ol class='articles'>
      <% articles.each do |article| %>
        <li>
          <%= link_to article.title, article %>
          <span class="author">
            (<%= raw article.authors.map { |a| link_to a, a }.join(", ") %>)
          </span>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>
