<%= javascript_include_tag "http://vzgojiteljica.s3.amazonaws.com/assets/tinymce-33dc31c37d0aaabce86c31af1074bd7f.js" %>

<%= simple_form_for resource do |f| %>
  <%= f.association :section %>
  <%= f.association :issue %>
  <%= f.input :title, as: :string %>
  <%= f.input :abstract_html, input_html: {class: :tinymce, rows: 40, cols: 120} %>
  <%= f.input :abstract_english_html, input_html: {class: :tinymce, rows: 40, cols: 120} %>
  <div class='submit'>
    <%= f.submit %>
  </div>
<% end %>

<%= render "shared/tinymce" %>