= simple_form_for resource do |f|
  = f.input :author
  = f.input :section
  = f.input :issue
  = f.input :title
  = f.input :abstract
  = f.input :abstract_html
  = f.input :abstract_english
  = f.input :abstract_english_html
  = f.input :keywords
  .submit= f.submit