<% content_for :head do %>
  <%= javascript_include_tag "http://vzgojiteljica.s3.amazonaws.com/assets/tinymce-33dc31c37d0aaabce86c31af1074bd7f.js" %>
<% end %>

<script type="text/javascript">
  $(function() {
    $('#article_author_ids').chosen()
    $('#article_keyword_ids').chosen()
  });
</script>

<%= simple_form_for @article do |f| %>
  <%= f.association :section %>
  <%= f.association :issue, collection: Issue.sorted %>
  <%= f.input :title, as: :string %>
  <div class='input select'>
    <label class='select' for='article_author_ids'>Avtorji</label>
    <%= f.collection_select :author_ids, Author.all, :id, :unique_name, {}, {multiple: true, class: 'select'} %>
  </div>
  <div class='input select'>
    <label class='select' for='article_keyword_ids'>Ključne besede</label>
    <%= f.collection_select :keyword_ids, Keyword.all, :id, :keyword, {}, {multiple: true, class: 'select'} %>
  </div>
  <%= f.input :abstract_html, input_html: {class: :tinymce, rows: 20, cols: 120} %>
  <%= f.input :abstract_english_html, input_html: {class: :tinymce, rows: 10, cols: 120} %>
  <div class='submit'>
    <%= f.submit %>
  </div>
<% end %>

<%= render "shared/tinymce" %>