<%= title "Članki" %>

<%= admin_section do %>
  <%= link_to "Pregled", all_articles_path %>
  <%= link_to "Dodaj članek", new_article_path %>
<% end %>

<div id="content">
  <h3>
    Iskanje po ključnih besedah
  </h3>
  <p>
    V iskalno polje začnite vpisovati ključne besede in sistem vam bo izpisal predloge. <br>Željenega potrdite s tipko <em>enter</em> ali tako, da kliknete nanj. 
  </p>
  <form id="keyword_search">
    <input type="text" class="search">
    <input type="button" class="submit" value="Search">
  </form>
</div>  

<h3>
  Filtriranje po naslovu, avtorju ali številki revije. (Kaj pa po rubriki?)
</h3>
<table id="articles">
  <thead>
    <tr>
      <th>Naziv</th>
      <th>Avtor</th>
      <th>Revija</th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |article| %>
      <tr>
        <td class="article_title"><%= link_to article.title, article %></td>
        <td class="article_author"><%= raw article.authors.map { |a| link_to a, a }.join(", ") %></td>
        <td class="article_issue"><%= link_to article.issue, article.issue %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate collection %>
