<%= title "Članki" %>

<%= admin_section do %>
  <%= link_to "Pregled", all_articles_path %>
  <%= link_to "Dodaj članek", new_article_path %>
<% end %>

<table id="articles">
  <thead>
    <tr>
      <th>Naziv</th>
      <th>Avtor</th>
      <th>Revija</th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |article| %>
      <tr>
        <td class="article_title"><%= article.title %></td>
        <td class="article_author"><%= article.authors.join(", ") %></td>
        <td class="article_issue"><%= link_to article.issue, article.issue %></td>
      </tr>
    <% end %>
  </tbody>
</table>