= title "Članki"

= admin_section do
  = link_to "Pregled", all_articles_path
  = link_to "Dodaj članek", new_article_path


%table
  %thead
    %tr
      %th Naziv
      %th Avtor
      %th Revija
  %tbody
    - collection.each do |article|
      %tr
        %td= article.title
        %td= article.author
        %td= link_to "#{article.issue.year}/#{article.issue.issue}", article.issue