<%= title @article.title %>

<%= admin_section do %>
  <%= link_to "Uredi", edit_article_path(@article) %>
  <%= link_to "Odstrani", @article, method: :delete, data: { confirm: 'Ste prepričani?' } %>
<% end %>

<div id='abstract'>
	<%= raw @article.abstract_html %>

  <div class="data">
    <% if @article.keywords.any? %>
    	<p>
        <strong>Ključne besede:</strong>
        <%= raw @article.keywords.map { |k| link_to k, search_articles_path(:query => k.keyword) }.join(", ") %>
      </p>
    <% end %>
  	<p>
      <strong>Avtor:</strong> <%= raw @article.authors.map { |a| link_to a, a }.join(", ") %>
    </p>
    <% if @article.issue %>
    	<p>
        <strong>Letnik:</strong>
        <%= link_to @article.issue do %>
          <%= @article.issue.year %>, št. <%= @article.issue.issue %>
        <% end %>
      </p>
    <% end %>
  	<p>
      <strong>Rubrika:</strong> <%= @article.section %>
    </p>
  </div>
</div>
<div class='cover'>
  <%= image_tag @article.issue.cover.url %>
</div>
<br class="clear">
