<%= title resource.title %>
<div id='abstract'>
	<%= raw resource.abstract_html %>
	<p class="firstdata"><strong>Ključne besede:</strong> <%= resource.keywords.join(", ") %></p>
	<p><strong>Avtor:</strong> <%= resource.authors.join(", ") %></p>
	<p><strong>Letnik:</strong> <%= resource.issue.year %>, št. <%= resource.issue.issue %></p>
	<p><strong>Rubrika:</strong> <%= resource.section %></p>
</div>
<div class='cover'>
  <%= image_tag resource.issue.cover.url %>
</div>
<br class="clear">
