<h1>
  Naročilnica
  &quot;<%= @order_form %>&quot;
  <small class="muted">
    Naročnik
    <%= link_to @order_form.customer, [:admin, @order_form.customer] %>
  </small>
</h1>

<div class="admin_actions">
  <%= link_to edit_admin_order_form_path(@order_form), class: 'btn btn-default' do %>
    <i class="glyphicon glyphicon-edit"></i>
    Uredi
  <% end %>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'fields', order_form: @order_form %>

        <% unless @order_form.processed? %>
          <hr>
          <p>
            <%= link_to new_from_order_admin_customers_path(order_id: @order_form.id), method: :post, class: 'btn btn-default' do %>
              <i class="glyphicon glyphicon-asterisk"></i>
              Obdelaj kot novo stranko
            <% end %>
            <%= link_to mark_processed_admin_order_form_path(@order_form), method: :put, class: 'btn btn-default' do %>
              <i class="glyphicon glyphicon-check"></i>
              Označi kot obdelano
            <% end %>
            <%= link_to admin_order_path(@order_form), method: :delete, class: 'btn btn-danger pull-right', :"data-confirm" => 'Ste prepričani?' do %>
              <i class="glyphicon glyphicon-trash"></i>
              Izbriši
            <% end %>
          </p>
          <% if @all_subscribers.any? %>
            <hr>
            <strong>Dodaj k obstoječemu prejemniku</strong>
            <p>
              <%= form_tag new_from_order_admin_subscriptions_path(order_id: @order_form.id), method: :post, class: 'form' do %>
                <div class="form-group">
                  <%= select_tag :subscriber_id, grouped_options_for_select(@all_subscribers), {class: 'form-control', id: 'subscriber_id', placeholder: 'ID prejemnika', prompt: ""} %>
                </div>
                <%= button_tag class: 'btn btn-default' do %>
                  <i class="glyphicon glyphicon-envelope"></i>
                  Aktiviraj na prejemniku
                <% end %>
              <% end %>
            </p>
          <% end %>
        <% end %>

        <% if @order_form.events.any? %>
          <hr>
          <strong>Dogodki:</strong>
          <%= render 'events/events', events: @order_form.events %>
        <% end %>
      </div>
    </div>
    <% if @order_form.order %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Podatki vnešeni na spletni strani
            <%= link_to "Odpri", admin_order_path(@order_form.order), class: 'btn btn-xs btn-default pull-right' %>
          </h3>
        </div>
        <div class="panel-body">
          <%= render 'admin/orders/fields', order: @order_form.order %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-xs-6">
    <%= render "admin/remarks/form", resource: @order_form %>
  </div>
</div>

<div class="panel panel-default" style="margin-bottom: 150px;">
  <div class="panel-heading">
    <h3 class="panel-title">Naročnine</h3>
  </div>
  <div class="panel-body">
    <table class="table rowlinks">
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Pričetek</th>
          <th>Konec</th>
          <th>Količina</th>
          <th>Popust</th>
          <th>Plan</th>
        </tr>
      </thead>
      <tbody>
        <% @order_form.subscriptions.each do |s| %>
          <tr>
            <td>
              <% if s.active? %>
                <small class="label label-success">Aktivna</small>
              <% else %>
                <small class="label label-danger">Neaktivna</small>
              <% end %>
            </td>
            <td>
              <%= link_to "", admin_subscription_path(s) %>
              <%= s.id %>
            </td>
            <td>
              <% if s.start? %>
                <%= l s.start %>
              <% end %>
            </td>
            <td>
              <% if s.end? %>
                <%= l s.end %>
              <% end %>
            </td>
            <td><%= s.quantity %></td>
            <td><%= number_to_percentage s.discount || 0 %></td>
            <td><%= s.plan %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
