- if resource.name?
  %strong= I18n.t 'attributes.entities.name'
  %p= resource.name
- if resource.title?
  %strong= I18n.t 'attributes.entities.title'
  %p= resource.title
%strong= I18n.t 'attributes.address'
%p= resource.address
%strong= I18n.t 'attributes.post'
%p= resource.post
- if resource.city?
  %strong= I18n.t 'attributes.city'
  %p= resource.city
- if resource.phone?
  %strong= I18n.t 'attributes.phone'
  %p= resource.phone
- if resource.email?
  %strong= I18n.t 'attributes.email'
  %p= mail_to resource.email
- if resource.vat_id?
  %strong= I18n.t 'attributes.vat_id'
  %p= resource.vat_id_formatted
  - if resource.vat_exempt?
    %strong= I18n.t 'attributes.vat_exempt'
- if resource.account_number?
  %strong= I18n.t 'attributes.account_number'
  %p
    = resource.account_number_formatted
    - if resource.bank
      %br
      %span.muted= resource.bank