%h1= @customer

.row
  .col-xs-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Naročnine
      %table.table
        %thead
          %tr
            %th Št. naročilnice
            %th Prejemnik
            %th Plan
            %th Količina
            %th Pričetek
            %th Konec
        %tbody
          - @customer.subscriptions.active.paid.each do |subscription|
            %tr
              %td= subscription.order_form
              %td= subscription.subscriber
              %td
                - if subscription.plan.yearly?
                  Letna naročnina
                  %em== (#{number_to_currency(subscription.plan.price_with_tax)} na leto)
                - else
                  Mesečna naročnina
                  %em== (#{number_to_currency(subscription.plan.price_with_tax)} na mesec)
              %td= subscription.quantity
              %td= l subscription.start, format: :simple
              %td
                - if subscription.end
                  = l subscription.end, format: :simple
                - else
                  &mdash;
        %tfoot
          %tr
            %td
              %strong Skupaj
            %td
            %td
            %td
              %strong= @customer.subscriptions.active.sum(:quantity)
            %td
            %td

- if @customer.invoices.any?
  .panel.panel-default
    .panel-heading
      %h3.panel-title Izdani računi

    %table.table
      %thead
        %tr
          %th Ref. št.
          %th Številka
          %th Izdan
          %th Rok
          %th Znesek
          %th Plačan
      %tbody
        - @customer.invoices.order(year: :desc, reference_number: :desc).each do |invoice|
          %tr
            %td= invoice.reference_number
            %td= invoice.issues.distinct.join(', ')
            %td= l invoice.created_at, format: :simple
            %td= l invoice.due_at, format: :simple
            - if invoice.paid?
              %td= number_to_currency invoice.total
              %td
                %strong{style: 'color: green'} plačan
                = l invoice.paid_at, format: :simple
            - elsif invoice.due?
              %td= number_to_currency invoice.total
              %td
                %strong{style: 'color: red'} zapadel
                v plačilo pred
                = pluralize_days(invoice.late_days)
            - else
              %td= number_to_currency invoice.total
              %td &mdash;

- if @customer.offers.any?
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Izdane ponudbe
    %table.table
      %thead
        %tr
          %th Ref. št.
          %th Izdana
          %th Znesek
      %tbody
        - @customer.offers.order(year: :desc, reference_number: :desc).each do |offer|
          %tr
            %td= offer.reference_number
            %td= l offer.created_at, format: :simple
            %td= number_to_currency offer.total
