%h1
  = @customer
  %small.label.label-danger
    Odpoved
    =l @customer.unsubscribed_at, format: '%d.%m.%Y'

.admin_actions
  = link_to admin_customer_path(@customer), class: 'btn btn-danger', method: :delete, data: { confirm: 'Ta gumb je samo za Miha! :) Če nisi Miha, prekliči operacijo.' } do
    %i.glyphicon.glyphicon-trash
    Izbriši
  = link_to edit_admin_customer_path(@customer), class: 'btn btn-default' do
    %i.glyphicon.glyphicon-edit
    Uredi

.row
  .col-xs-6
    .details.panel.panel-default
      .panel-body
        = render "fields", resource: @customer
        - if @customer.token?
          %hr
          %strong Javni dostop
          %p= link_to token_url(@customer.token), token_url(@customer.token)

        - if @customer.company?
          %hr
          %h4
            Kontaktna oseba
            - if @customer.contact_person
              = link_to edit_person_admin_customer_path(@customer, person: :contact), class: 'btn btn-xs btn-default' do
                %i.glyphicon.glyphicon-user
                Uredi
            - else
              = link_to add_person_admin_customer_path(@customer, person: :contact), class: 'btn btn-xs btn-default' do
                %i.glyphicon.glyphicon-user
                Dodaj

          - if @customer.contact_person
            = render "admin/people/fields", resource: @customer.contact_person

          %hr
          %h4
            Plačilni kontakt
            - if @customer.billing_person
              = link_to edit_person_admin_customer_path(@customer, person: :billing), class: 'btn btn-xs btn-default' do
                %i.glyphicon.glyphicon-user
                Uredi
            - else
              = link_to add_person_admin_customer_path(@customer, person: :billing), class: 'btn btn-xs btn-default' do
                %i.glyphicon.glyphicon-user
                Dodaj
          - if @customer.billing_person
            = render "admin/people/fields", resource: @customer.billing_person
        - if @customer.flags && @customer.flags.any?
          %hr
          %h4
            Nastavitve
          %p
            %code= @customer.flags.to_sentence

        - if @customer.events.any?
          %hr
          = render 'events/events', events: @customer.events

  .col-xs-6
    = render "admin/remarks/form", resource: @customer, remarks: @remarks

    - unless @customer.unsubscribed?
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Odpoved naročnine
        .panel-body
          = form_tag unsubscribe_admin_customer_path(@customer), method: :patch do
            = date_select :customer, :unsubscribed_at
            = submit_tag

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Prejemniki

      %small
        = conditional_filtering_link("Aktivni", default: true, url: admin_customer_path(@customer))
        = conditional_filtering_link("Neaktivni", param: :filter_subscribers_only_inactive)
        = conditional_filtering_link("Plačljivi", param: :filter_subscribers_only_paid)
        = conditional_filtering_link("Brezplačni", param: :filter_subscribers_only_free)
        = conditional_filtering_link("Vsi", param: :filter_subscribers_all)

      = link_to new_admin_subscriber_path(customer_id: @customer.id), class: 'btn btn-default btn-xs pull-right' do
        %i.glyphicon.glyphicon-plus
        Ustvari
      = link_to new_admin_subscriber_path(customer_id: @customer.id, customer: true), class: 'btn btn-default btn-xs pull-right' do
        %i.glyphicon.glyphicon-plus
        Ustvari kot kopijo naročnika

  %table.table.rowlinks
    %thead
      %tr
        %th ID
        %th Naziv
        %th Naslov
        %th Pošta
        %th Količina
        %th Naročnina
    %tbody
      - @subscribers.each do |s|
        %tr
          %td
            = link_to "", admin_subscriber_path(s)
            = s.id
          %td= render "shared/subscriber_name_and_title", subscriber: s
          %td= s.address
          %td= s.post
          %td= s.subscriptions.active.sum(:quantity)
          %td.subscriptions
            - s.subscriptions.active.each do |subscription|
              .subscription
                = subscription.plan
                %small.text-muted== (#{subscription.id})
                %br
                - if subscription.start?
                  %small.label.label-success= l subscription.start
                - if subscription.end?
                  %small.label.label-danger= l subscription.end
                - if subscription.is_reward?
                  %small.label.label-warning
                    %i.glyphicon.glyphicon-gift
    - if @subscribers.count < @subscribers_total_count
      %tfoot
        %tr
          %td{colspan: 99}
            %small.muted
              = @subscribers_total_count - @subscribers.count
              prejemnikov je skritih zaradi filtriranja
              &mdash;
              = link_to "Prikaži vse", admin_customer_path(@customer, filter_subscribers_all: true)

- if @customer.invoices.any?
  .panel.panel-default
    .panel-heading
      %h3.panel-title Izdani računi

    %table.table.rowlinks
      %thead
        %tr
          %th ID
          %th Številka
          %th Izdan
          %th Rok
          %th Znesek
      %tbody
        - @customer.invoices.order(year: :desc, reference_number: :desc).each do |invoice|
          %tr
            %td
              = link_to "", admin_invoice_path(invoice)
              = invoice.receipt_id
            %td= invoice.issues.distinct.join(', ')
            %td= l invoice.created_at, format: :simple
            %td= l invoice.due_at, format: :simple
            %td
              - if invoice.paid?
                .label.label-success
                  = number_to_currency invoice.total
              - elsif invoice.due?
                .label.label-danger
                  = number_to_currency invoice.total
              - elsif invoice.reversed?
                .label.label-primary
                  = number_to_currency invoice.total
              - else
                = number_to_currency invoice.total

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Izdane ponudbe

      = link_to create_for_customer_admin_offers_path(customer_id: @customer.id), class: 'btn btn-default btn-xs pull-right', :"data-method" => :post do
        %i.glyphicon.glyphicon-plus
        Ustvari

  - if @customer.offers.any?
    %table.table.rowlinks
      %thead
        %tr
          %th Ref. št.
          %th Izdana
          %th Znesek
      %tbody
        - @customer.offers.order(year: :desc, reference_number: :desc).each do |offer|
          %tr
            %td
              = link_to "", admin_offer_path(offer)
              = offer.reference_number
            %td= l offer.created_at, format: :simple
            %td= number_to_currency offer.total

- if @customer.order_forms.any?
  .panel.panel-default
    .panel-heading
      %h3.panel-title Naročilnice

    %table.table.rowlinks
      %thead
        %tr
          %th Št. Nar.
          %th Podpisnik
          %th Pričetek
          %th Konec
      %tbody
        - @customer.order_forms.order(year: :desc, start: :desc).each do |order_form|
          %tr
            %td
              = link_to "", admin_order_form_path(order_form)
              = order_form.form_id
            %td= order_form.authorizer
            %td
              - if order_form.start
                = l order_form.start, format: :simple
              - else
                &mdash;
            %td
              - if order_form.end
                = l order_form.end, format: :simple
              - else
                &mdash;
