%h1= resource

= generate_fields resource, [:title, :name, :address, :post, :city, :phone, :email, :vat_id]

.panel.panel-default
  .panel-heading 
    %h3.panel-title Prejemniki

  %table.table
    %thead
      %tr
        %th ID
        %th Naziv
        %th Naslov
        %th Pošta
        %th Količina
        %th Naročnina
    %tbody
      - resource.subscribers.each do |s|
        %tr
          %td= s.id
          %td= s.title or s.name
          %td= s.address
          %td= s.post
          %td= s.quantity
          %td
            = s.subscription.plan
            %small.text-muted
              (Naročnina
              == ##{s.subscription.id})

.panel.panel-default
  .panel-heading 
    %h3.panel-title Naročnine

  %table.table
    %thead
      %tr
        %th ID
        %th Pričetek
        %th Konec
        %th Tip
        %th Prejemniki
    %tbody
      - resource.subscriptions.each do |s|
        %tr
          %td= s.id
          %td= s.start or 'Neznan'
          %td= s.end
          %td= s.plan
          %td= s.subscribers.map(&:to_s).join(', ')

.panel.panel-default
  .panel-heading 
    %h3.panel-title Opombe

  %table.table
    %tbody
      - resource.remarks.each do |r|
        %tr
          %td= r.remark
          %td= r.created_at

  = form_for resource.remarks.build(user: current_user), url: admin_remarks_path do |f|
    = f.text_field :remark
    = f.hidden_field :remarkable_id
    = f.hidden_field :remarkable_type
    = f.hidden_field :user_id
    = f.submit :Shrani
