%h1= resource

.admin_actions
  = link_to edit_admin_customer_path(resource), class: 'btn btn-default' do
    %i.glyphicon.glyphicon-edit
    Uredi

.row
  .col-xs-6
    .details.panel.panel-default
      .panel-body
        = render "fields", resource: resource

        - if resource.contact_person
          %hr
          %h4 Kontaktna oseba
          = render "admin/people/fields", resource: resource.contact_person
        - if resource.billing_person
          %hr
          %h4 Plačilni kontakt
          = render "admin/people/fields", resource: resource.billing_person

  .col-xs-6= render "admin/remarks/form", resource: resource

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Prejemniki
      = link_to new_admin_subscriber_path(customer_id: resource.id), class: 'btn btn-default btn-xs pull-right' do
        %i.glyphicon.glyphicon-plus
        Ustvari

  %table.table.rowlinks
    %thead
      %tr
        %th ID
        %th Naziv
        %th Naslov
        %th Pošta
        %th Količina
        %th Naročnina
    %tbody
      - resource.subscribers.each do |s|
        %tr
          %td
            = link_to "", admin_subscriber_path(s)
            = s.id
          %td= s.title or s.name
          %td= s.address
          %td= s.post
          %td= s.subscriptions.active.sum(:quantity)
          %td
            - s.subscriptions.each do |subscription|
              %div
                = subscription.plan
                %small.text-muted== (#{subscription.id})
                %br
                - if subscription.start?
                  %small.label.label-success= l subscription.start
                - if subscription.end?
                  %small.label.label-danger= l subscription.end

.panel.panel-default
  .panel-heading 
    %h3.panel-title Izdani računi

  %table.table.rowlinks
    %thead
      %tr
        %th Ref. št.
        %th Številka
        %th Izdan
        %th Rok
        %th Znesek
    %tbody
      - resource.invoices.each do |invoice|
        %tr
          %td
            = link_to "", admin_invoice_path(invoice)
            = invoice.reference_number
          %td= invoice.issue
          %td= l invoice.created_at, format: :simple
          %td= l invoice.due_at, format: :simple
          %td= number_to_currency invoice.total
        </tr>