<h2>Izpisek <%= @statement.id %></h2>

<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>Naloženo:</strong>
        <p>
          <%= l @statement.created_at %>
        </p>
        <% if @statement.processed_at? %>
          <strong>Sprocesirano:</strong>
          <p>
            <%= l @statement.processed_at %>
          </p>
          <strong>Vnosov:</strong>
          <p>
            <%= @statement.entries %>
          </p>
        <% else %>
          <hr>
          <p>
            <%= link_to parse_admin_bank_statement_path(@statement), method: :post, class: 'btn btn-default' do %>
              <i class="glyphicon glyphicon-asterisk"></i>
              Sprocesiraj
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h2>Neobdelane postavke</h2>
<table class="table rowlinks">
  <thead>
    <tr>
      <th>ID</th>
      <th>Datum</th>
      <th>Plačnik</th>
      <th>TRR</th>
      <th>Znesek</th>
      <th>Podatki</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td>
          <%= link_to "", admin_statement_entry_path(entry) %>
          <%= entry.reference %>
        </td>
        <td><%= l entry.date, format: :simple %></td>
        <td><%= simple_format entry.account_holder %></td>
        <td><%= entry.account_number %></td>
        <td><%= number_to_currency entry.amount %></td>
        <td><%= simple_format entry.details %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<pre id="statement_raw"><code><%= @statement.parsed_statement %></code></pre>