<h2>
  Naročila
  <small>
    <%= conditional_filtering_link "Neobdelana", default: true, route: admin_orders_path %>
    |
    <%= conditional_filtering_link "Vsa naročila", param: :filter_all %>
  </small>
</h2>

<%= paginate @orders %>

<table class="table rowlinks">
  <thead>
    <tr>
      <th>Naziv</th>
      <th>Naslov</th>
      <th>Pošta</th>
      <th>Kol.</th>
      <th>Plan</th>
      <th>Ustvarjeno</th>
      <th>Procesirano</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <%= link_to "", admin_order_path(order) %>
          <% if order.title? %>
            <%= order.title %>
            <% if order.name? %>
              <br>
              <span class="muted"><%= order.name %></span>
            <% end %>
          <% else %>
            <%= order.name %>
          <% end %>
        </td>
        <td><%= order.address %></td>
        <td><%= order.post %></td>
        <td><%= order.quantity %></td>
        <td>
          <% if order.plan_type == 1 %>
            let
          <% elsif order.plan_type == 6 %>
            št
          <% end %>
        </td>
        <td><%=l order.created_at %></td>
        <td>
          <% if order.processed? %>
            &#10003;
          <% else %>
            &#10007;
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @orders %>
