<script type="text/javascript">
  $(function() {
    $('#subscriber_id').chosen({
      search_contains: true
    });
  });
</script>

<% if params[:error] %><%= debug params[:error] %><% end %>

<h1>
  Naročilo #<%= @order.id %>
  <small class="muted">iz spletne strani</small>
  <% if @order.processed? %>
    <small class="label label-success pull-right">Sprocesirano</small>
  <% else %>
    <small class="label label-danger pull-right">Odprto</small>
  <% end %>
</h1>

<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'admin/orders/fields', order: @order %>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @order.order_form %>
          <strong>Naročilnica:</strong>
          <p>
            <%= link_to @order.order_form, admin_order_form_path(@order.order_form) %>
          </p>
          <hr>
        <% end %>
        <strong>Ustvarjeno:</strong>
        <p>
          <%= l @order.created_at %>
        </p>
        <% unless @order.created_at == @order.updated_at %>
          <strong>Osveženo:</strong>
          <p>
            <%= l @order.updated_at %>
          </p>
        <% end %>
        <% if @order.ip? %>
          <p><strong>IP:</strong> <%= @order.ip %></p>
        <% end %>
        <% if @order.events.any? %>
          <hr>
          <strong>Dogodki:</strong>
          <%= render 'events/events', events: @order.events %>
        <% end %>
      </div>
    </div>
  </div>
</div>
