<%= title @author %>

<div class="collage">
  <% @author.articles.each do |article| %>
    <%= link_to issue_path(article.issue) do %>
      <%= image_tag article.issue.cover.url(:medium) %>
    <% end %>
  <% end %>
</div>

<h2>Članki</h2>

<ul>
  <% @author.articles.order(issue_id: :desc).each do |article| %>
    <li class="article">
      <strong><%= link_to article.title, article %></strong>
      <br>
      <% if article.issue %>
        Izšlo <%= l(article.issue.published_at, format: :simple) if article.issue.published_at %>
        v reviji
        <%= link_to article.issue do %>
          <%= article.issue.year %>, št. <%= article.issue.issue %>
        <% end %>
      <% end %>

      <span class="author">(<%= @author.institution_for_article(article) %>)</span>
    </li>
  <% end %>
</ul>
