= title resource

= admin_section do
  = link_to "Uredi", edit_author_path(resource)
  = link_to "Odstrani", resource, method: :delete

- if signed_in?
  - generate_fields resource, [:address, :post_id, :email, :notes, :institution_id, :phone, :title]

%h2 Članki
= render resource.articles