<%= title resource %>

<%= admin_section do %>
  <%= link_to "Uredi", edit_author_path(resource) %>
  <%= link_to "Odstrani", resource, method: :delete %>
<% end %>

<% if signed_in? %>
<div class="data">
  <p><strong>Ime:</strong> <%= resource.first_name %></p>
  <p><strong>Priimek:</strong> <%= resource.last_name %></p>
  <p><strong>Naslov</strong> <%= resource.address %></p>
  <p><strong>Pošta:</strong> <%= resource.post %></p> 
  <p><strong>E-pošta:</strong> <%= resource.email %></p>
  <p><strong>Notes:</strong> <%= resource.notes %></p>
  <p><strong>Institucija:</strong> <%= resource.institution %></p>
  <p><strong>Telefon:</strong> <%= resource.phone %></p>
  <p><strong>Naziv:</strong> <%= resource.title %></p>
  <p><strong>Izobrazba:</strong> <%= resource.education %></p>
  
</div>
<% end %>

<h2>Članki</h2>

<ul>
  <% resource.articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
      <span class="author">(Letnik 
      <%= link_to article.issue do %>
        <%= article.issue.year %>, št. <%= article.issue.issue %>
      <% end %>)</span>
  <% end %>
</ul>