<%= title @author %>

<h2>Članki</h2>

<ul>
  <% @author.articles.joins(:issue).order('issues.year DESC').group_by { |article| article.issue }.each do |issue, articles| %>
    <li class="issue">
      <%= link_to issue, class: 'cover' do %>
        <%= image_tag issue.cover.url(:medium) %>
        <div class="issue_number">
          <strong><%= issue.year %>, št. <%= issue.issue %></strong>
        </div>
        <div class="published">
          <%= l(issue.published_at, format: :simple) if issue.published_at %>
        </div>
      <% end %>

      <div class="articles">
        <% articles.each do |article| %>
          <div class="article">
            <strong><%= link_to article.title, article %></strong> <span class="section">(<%= article.section %>)</span>
            <br>
            <% if @author.institution_for_article(article) %>
              <%= @author.institution_for_article(article) %>
            <% end %>
          </div>
        <% end %>
      </div>
      <br class="clear">
    </li>
  <% end %>
</ul>
