<script type="text/javascript">
  $(function() {
    $('#invoice_id').chosen({
      search_contains: true
    }).on('change', function() {
      window.location.href = $(this).parents('form').attr('action') + '/' + $(this).val();
    });
  });
</script>

<div class="col-xs-2 pull-right" style="margin-top: 20px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="glyphicon glyphicon-search"></i>
        Pojdi na ra훾un
      </h3>
    </div>
    <div class="panel-body">
      <%= form_tag admin_invoices_path, method: :get, class: 'form-inline print_invoices' do %>
        <div class="form-group">
          <%= select_tag :id, options_for_select(@all_invoices), {class: 'form-control', id: 'invoice_id', placeholder: 'ID ra훾una', prompt: ""} %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<h2>
  Izdani ra훾uni
  <% @years.each do |year| %>
    <small>
      <% if params[:year].to_i == year %>
        <%= year %>
      <% else %>
        <%= link_to year, year: year %>
      <% end %>
      |
    </small>
  <% end %>
  <small><%= link_to "Vsa leta", all: true %></small>
</h2>
<%= paginate @invoices %>
<table class="table rowlinks">
  <thead>
    <tr>
      <th>ID</th>
      <th>Stranka</th>
      <th>Izdan</th>
      <th>Rok</th>
      <th>Pla훾an</th>
      <th>Znesek</th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td>
          <%= link_to "", admin_invoice_path(invoice) %>
          <%= invoice.invoice_id %></td>
        <td><%= invoice.customer %></td>
        <td><%= l invoice.created_at, format: :simple %></td>
        <td><%= l invoice.due_at, format: :simple %></td>
        <td>
          <% if invoice.paid? %>
            <%= l invoice.paid_at, format: :simple %></td>
          <% elsif invoice.due? %>
            <span class="label label-danger"><%= invoice.late_days %> dni</span>
          <% end %>
        <td><%= number_to_currency invoice.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @invoices %>