<div class="row tools">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="glyphicon glyphicon-asterisk"></i>
          Izdaja računov
        </h3>
      </div>
      <div class="panel-body">
        <%= form_for @invoice_wizard, url: admin_invoices_path, method: :post, html: {class: 'form-inline'} do |f| %>
          <div class="form-group">
            <%= f.collection_select :issue_id, Issue.order(year: :desc, issue: :desc, published_at: :desc), :id, :to_s, {}, {class: 'form-control'} %>
            <%= f.text_field :last_invoice_number, placeholder: '811 - računi od 811 naprej', class: 'form-control' %>
            <%= f.label :include_yearly do %>
              <%= f.check_box :include_yearly %>
              Vključi letne
            <% end %>
          </div>
          <div class="form-group pull-right">
            <%= f.submit "Ustvari račune", class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="glyphicon glyphicon-print"></i>
          Tiskanje računov
        </h3>
      </div>
      <div class="panel-body">
        <%= form_tag print_all_admin_invoices_path, method: :get, class: 'form-inline print_invoices' do %>
          <div class="form-group">
            <%= number_field_tag :gte, @gte, {class: 'form-control', placeholder: 'Od Ref. Št.'} %>
            &mdash;
            <%= number_field_tag :lte, @lte, {class: 'form-control', placeholder: 'Do Ref. Št.'} %>
          </div>
          <div class="form-group pull-right">
            <%= submit_tag "Natisni račune", class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h2>
  Izdani računi
</h2>
<table class="table rowlinks">
  <thead>
    <tr>
      <th>ID</th>
      <th>Stranka</th>
      <th>Izdan</th>
      <th>Rok</th>
      <th>Plačan</th>
      <th>Znesek</th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td>
          <%= link_to "", admin_invoice_path(invoice) %>
          <%= invoice.invoice_id %></td>
        <td><%= invoice.customer %></td>
        <td><%= l invoice.created_at, format: :simple %></td>
        <td><%= l invoice.due_at, format: :simple %></td>
        <td>
          <% if invoice.paid? %>
            <%= l invoice.paid_at, format: :simple %></td>
          <% elsif invoice.due? %>
            <span class="label label-danger"><%= invoice.late_days %> dni</span>
          <% end %>
        <td><%= number_to_currency invoice.total %></td>
      </tr>
    <% end %>
  </tbody>
  <%= paginate @invoices %>
</table>