<% invoice ||= @invoice %>
<div class="invoice">
  <header>
    <%= image_tag "pozoj_logo-100w.png" %>
    <p>
      <strong>POZOJ, d.o.o.</strong>
    </p>
    <p>
      Pirešica 2
      <br>
      3320 Velenje
      <br>
      info@pozoj.si
    </p>
    <p>
      ID št. za DDV: SI43873723
      <br>
      Matična št.: 5421985000
      <br>
      TRR: SI56 2900 0005 1341 860
    </p>
  </header>

  <div class="recipient">
    <p>
      <strong><%= invoice.customer %></strong>
      <br>
      <%= invoice.customer.address %>
      <br>
      <%= invoice.customer.post %>
    </p>
  </div>

  <div class="details">
    <p>
      <% if invoice.customer.vat_id? %>
        ID št. za DDV kupca: <strong>SI<%= invoice.customer.vat_id %></strong>
        <br>
      <% end %>
      Kraj izdaje: <strong>Velenje</strong>
      <br>
      Datume izdaje: <strong><%= l invoice.created_at.to_date, format: :simple %></strong>
      <br>
      Rok plačila: <strong><%= l invoice.due_at, format: :simple %></strong>
    </p>
  </div>

  <h1>Račun <%= invoice.reference_full %></h1>

  <div class="items">
    <table>
      <thead>
        <tr>
          <th>Prejemnik</th>
          <th>Artikel/Storitev</th>
          <th>Kol.</th>
          <th>EM</th>
          <th>Cena</th>
          <th>Popust</th>
          <th>Cena s popustom</th>
          <th>Skupaj brez DDV</th>
        </tr>
      </thead>
      <tbody>
        <% invoice.line_items.each do |li| %>
          <tr>
            <td><%= li.entity_name %></td>
            <td><%= li.product %></td>
            <td><%= li.quantity %></td>
            <td><%= li.unit %></td>
            <td><%= number_to_currency li.price_per_item %></td>
            <td><%= number_to_percentage li.discount_percent || 0 %></td>
            <td><%= number_to_currency li.price_per_item_with_discount %></td>
            <td><%= number_to_currency li.subtotal %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="subtotals">
    <table>
      <thead>
        <tr>
          <th>Osnova za izračun davka</th>
          <th>DDV stopnja</th>
          <th>Davek</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= number_to_currency invoice.subtotal %>
          </td>
          <td><%= number_to_percentage invoice.tax_percent %></td>
          <td>
            <%= number_to_currency invoice.tax %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="totals">
    <p>
      Skupaj za plačilo:
      <strong><%= number_to_currency invoice.total %></strong>
    </p>
  </div>

  <div class="signature">
    <%= image_tag "miha_sig.png" %>
    <p>
      Miha Rebernik
      <br>
      direktor
    </p>
  </div>

  <div class="instructions">
    <p>Račun plačajte na TRR: <strong>SI56 2900 0005 1341 860</strong>, odprt pri UniCredit Banka Slovenija d.d.</p>
    <p>Pri plačilu računa se sklicujeta na št. računa: <strong><%= invoice.reference_full %></strong>.</p>
    <p>Po izteku roka za plačilo zaračunavamo z zakonom določene zamudne obresti.</p>
    <p>Reklamacije upoštevamo, če so podane v 7 dneh od izstavitve računa.</p>
  </div>
</div>