<h2>
  Stornirani računi
  <% @years.each do |year| %>
    <small>
      <% if params[:year].to_i == year %>
        <%= year %>
      <% else %>
        <%= link_to year, year: year %>
      <% end %>
      |
    </small>
  <% end %>
  <small><%= link_to "Vsa leta", all: true %></small>
</h2>
<%= paginate @invoices %>
<table class="table rowlinks">
  <thead>
    <tr>
      <th>ID</th>
      <th>Stranka</th>
      <th>Izdan</th>
      <th>Storniran</th>
      <th>Znesek</th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td>
          <%= link_to "", admin_invoice_path(invoice) %>
          <%= invoice.receipt_id %></td>
        <td><%= invoice.customer %></td>
        <td><%= l invoice.created_at, format: :simple %></td>
        <td>
          <%= l invoice.reversed_at, format: :simple %>
          <% if invoice.reverse_reason? %>
            <br>
            <small class="muted"><%= invoice.reverse_reason %></small>
          <% end %>
        </td>
        <td><%= number_to_currency invoice.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @invoices %>
