<h1>
  Ra훾un <%= resource.reference_number %>/ REV /<%= resource.created_at.strftime("%Y") %>
  <small class="muted">
    za <%= link_to resource.customer, [:admin, resource.customer] %>
  </small>
</h1>

<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>Skupaj brez DDV:</strong>
        <p>
          <%= number_to_currency resource.subtotal %>
        </p>
        <strong>DDV:</strong>
        <p>
          <%= number_to_percentage resource.tax_percent %>
        </p>
        <strong>Davek:</strong>
        <p>
          <%= number_to_currency resource.tax %>
        </p>
        <strong>Skupaj za pla훾ilo:</strong>
        <p>
          <%= number_to_currency resource.total %>
        </p>
        <hr>
        <strong>Kreiran:</strong>
        <p>
          <%= l resource.created_at %>
        </p>
        <strong>Osve탑en:</strong>
        <p>
          <%= l resource.updated_at %>
        </p>
        <hr>
        <p>
          <%= link_to print_admin_invoice_path(resource), class: 'btn btn-default' do %>
            <i class="glyphicon glyphicon-print"></i>
            Natisni
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Naro훾nik</h3>
      </div>
      <div class="panel-body">
        <%= render "admin/customers/customer_info", resource: resource.customer %>
      </div>
    </div>
  </div>
</div>