<h1>
  Račun <%= @invoice.receipt_id %>
  <small class="muted">
    za <%= link_to @invoice.customer, [:admin, @invoice.customer] %>
  </small>
  <% if @invoice.paid? %>
    <small class="label label-success pull-right">Plačan</small>
  <% elsif @invoice.reversed? %>
    <small class="label label-primary pull-right">Storniran</small>
  <% else %>
    <small class="label label-danger pull-right">Odprt</small>
  <% end %>
</h1>

<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>Skupaj brez DDV:</strong>
        <p>
          <%= number_to_currency @invoice.subtotal %>
        </p>
        <strong>DDV:</strong>
        <p>
          <%= number_to_percentage @invoice.tax_percent %>
        </p>
        <strong>Davek:</strong>
        <p>
          <%= number_to_currency @invoice.tax %>
        </p>
        <strong>Skupaj za plačilo:</strong>
        <p>
          <%= number_to_currency @invoice.total %>
        </p>
        <hr>
        <strong>Kreiran:</strong>
        <p>
          <%= l @invoice.created_at %>
        </p>
        <strong>Osvežen:</strong>
        <p>
          <%= l @invoice.updated_at %>
        </p>
        <hr>
        <strong>Rok plačila:</strong>
        <p>
          <%= l @invoice.due_at, format: :simple %>
        </p>
        <% if @invoice.reversed? %>
          <strong>Storniran:</strong>
          <p>
            <%= l @invoice.reversed_at, format: :simple %>
            <% if @invoice.reverse_reason? %>
              <br>
              <small class="muted"><%= @invoice.reverse_reason %></small>
            <% end %>
          </p>
        <% elsif @invoice.paid? %>
          <strong>Plačan:</strong>
          <p>
            <%= l @invoice.paid_at, format: :simple %>
          </p>
        <% elsif @invoice.due? %>
          <strong>Zamuja:</strong>
          <p>
            <span class="label label-danger"><%= @invoice.late_days %> dni</span>
          </p>
        <% end %>
        <hr>
        <p>
          <%= link_to print_admin_invoice_path(@invoice), class: 'btn btn-default' do %>
            <i class="glyphicon glyphicon-print"></i>
            Natisni
          <% end %>
          <%= link_to pdf_admin_invoice_path(@invoice), class: 'btn btn-default' do %>
            <i class="glyphicon glyphicon-export"></i>
            PDF
          <% end %>
          <% link_to einvoice_admin_invoice_path(@invoice, format: :xml), class: 'btn btn-default' do %>
            <i class="glyphicon glyphicon-indent-left"></i>
            E-Račun XML
          <% end %>
          <%= link_to einvoice_admin_invoice_path(@invoice, format: :xml, style: true), class: 'btn btn-default' do %>
            <i class="glyphicon glyphicon-file"></i>
            E-Račun
          <% end %>
          <%= link_to eenvelope_admin_invoice_path(@invoice, format: :xml, style: true), class: 'btn btn-default' do %>
            <i class="glyphicon glyphicon-envelope"></i>
            E-ovojnica
          <% end %>
        </p>
        <% if @invoice.customer.billing_email %>
          <p>
            <%= link_to email_admin_invoice_path(@invoice), method: :post, class: 'btn btn-default', "data-confirm": "Ali ste prepričani da želite poslati račun na #{@invoice.customer.billing_email}?" do %>
              <i class="glyphicon glyphicon-envelope"></i>
              Pošlji račun
            <% end %>
            <% if @invoice.due? %>
              <%= link_to email_due_admin_invoice_path(@invoice), method: :post, class: 'btn btn-default', "data-confirm": "Ali ste prepričani da želite poslati opomin na #{@invoice.customer.billing_email}?" do %>
                <i class="glyphicon glyphicon-envelope"></i>
                Pošlji opomin
              <% end %>
           <% end %>
          </p>
        <% end %>
        <% if @invoice.events.any? %>
          <hr>
          <%= render 'events/events', events: @invoice.events %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Naročnik</h3>
      </div>
      <div class="panel-body">
        <%= render "admin/customers/fields", resource: @invoice.customer %>
      </div>
    </div>
    <% if @invoice.paid? || @invoice.statement_entries.any? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Plačilo</h3>
        </div>
        <div class="panel-body">
          <% if @invoice.statement_entries.empty? %>
            <strong>Ref. št.:</strong>
            <p>
              <%= @invoice.bank_reference %>
            </p>
            <strong>Znesek:</strong>
            <p>
              <%= number_to_currency @invoice.paid_amount %>
            </p>
            <% if @invoice.bank_data.present? %>
              <strong>Podatki:</strong>
              <p>
                <small><%= simple_format @invoice.bank_data %></small>
              </p>
            <% end %>
          <% else %>
            <div class="statement-entry">
              <% @invoice.statement_entries.each do |entry| %>
                <p>
                  <%= link_to [:admin, entry] do %>
                    <code><%= entry.bank_reference %></code>
                  <% end %>
                  <%= l entry.date, format: :simple %>
                  &mdash;
                  <strong><%= number_to_currency entry.amount %></strong>
                  <br>
                  <small class="muted"><%= entry.account_holder %></small>
                </p>
              <% end %>
            </div>
          <% end %>
        </div>
        <% unless @invoice.balance == 0 %>
          <div class="panel-footer">
            <strong>Stanje</strong>
            <% if @invoice.balance > 0 %>
              <span class="label label-success">
                +<%= number_to_currency @invoice.balance %>
              </span>
            <% else %>
              <span class="label label-danger">
                <%= number_to_currency @invoice.balance %>
              </span>
            <% end %>
          </div>
        <% end %>
      </div>
    <% elsif !@invoice.reversed? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Storniranje</h3>
        </div>
        <div class="panel-body">
          <%= simple_form_for @invoice, url: reverse_admin_invoice_path, method: :put, html: {class: 'form-inline'} do |f| %>
            <%= f.input :reverse_reason, label: false, placeholder: "Razlog za storniranje", as: :text, class: 'form-control' %>
            <div class="form-group pull-right">
              <%= f.submit "Storniraj", class: 'btn btn-default' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="panel panel-default" style="margin-bottom: 150px;">
  <div class="panel-heading">
    <h3 class="panel-title">Postavke</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Entiteta</th>
          <th>Produkt</th>
          <th>Revija</th>
          <th>Kol.</th>
          <th>ME</th>
          <th>Cena</th>
          <th>Pop. %</th>
          <th>Cena s pop.</th>
          <th>Znesek</th>
          <th>Davek %</th>
          <th>Davek</th>
          <th>Za plačilo</th>
        </tr>
      </thead>
      <tbody>
        <% @invoice.line_items.each do |li| %>
          <tr>
            <td><%= li.entity_name %></td>
            <td><%= li.product %></td>
            <td><%= li.issue %></td>
            <td><%= li.quantity %></td>
            <td><%= li.unit %></td>
            <td><%= number_to_currency li.price_per_item %></td>
            <td><%= number_to_percentage li.discount_percent || 0 %></td>
            <td><%= number_to_currency li.price_per_item_with_discount %></td>
            <td><%= number_to_currency li.subtotal %></td>
            <td><%= number_to_percentage li.tax_percent %></td>
            <td><%= number_to_currency li.tax %></td>
            <td><%= number_to_currency li.total %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
