= javascript_include_tag "http://vzgojiteljica.s3.amazonaws.com/assets/tinymce-33dc31c37d0aaabce86c31af1074bd7f.js"

= simple_form_for @news do |f|
  = f.input :title
  = f.input :body_html, input_html: {class: :tinymce, rows: 40, cols: 120}
  .submit
    = f.submit

= render "shared/tinymce"