<%= simple_form_for resource do |f| %>
  <%= f.input :title %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :post_id %>
  <%= f.input :place_and_date %>
  <%= f.input :phone %>
  <%= f.input :fax %>
  <%= f.input :email %>
  <%= f.input :vat_id %>
  <%= f.input :quantity %>
  <%= f.input :comments %>
  <div class='submit'>
    <%= f.submit %>
  </div>
<% end %>
