<%= simple_form_for resource do |f| %>
  <fieldset>
    <legend>Kontaktni podatki</legend>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :post_id %>
      <%= f.input :phone %>
      <%= f.input :fax %>
      <%= f.input :email %>
  </fieldset>
  <fieldset>
    <legend>Podjetje</legend>
    <%= f.input :title %>
    <%= f.input :vat_id %>
  </fieldset>
  <fieldset>
    <legend>NaroÄilo</legend>
    <%= f.input :quantity %>
    <%= f.input :comments %>
  </fieldset>
  <div class='submit'>
    <%= f.submit %>
  </div>
<% end %>
