= title "Naro훾ila"

= admin_section do
  - unless params[:all]
    = link_to "Prika탑i obdelane", orders_path(all: true)

%table#articles
  %thead
    %tr
      %th Naziv
      %th Ime
      %th Email
      %th Koli훾ina
      %th Oddano
      - if params[:all]
        %th Obdelano
      %th
  %tbody
    - @orders.each do |order|
      %tr
        %td.order_title= order.title
        %td.order_name= order.name
        %td.order_email= order.email
        %td.order_quantity= order.quantity
        %td.order_created_at= l order.created_at, format: :simple
        - if params[:all]
          %td.order_processed= order.processed? ? 'Da' : 'Ne'
        %td.admin
          = link_to "Odstrani", order, method: :delete, confirm: 'Ste prepri훾ani?'
          = link_to "Odpri", order
