<%= title "Naročite revijo Vzgojiteljica" %>
<%= admin_section do %>
  <%= link_to "Pregled naročil", orders_path %>
<% end %>

<p class="notice">
  Pri POZOJ, Darja Slapničar s.p., <strong>naročamo</strong> revijo Vzgojiteljica. 
  <br>
  Letno izide 6 številk. Revija izhaja vsak drugi mesec.
  Cena posamezne številke je 
  <%= number_to_currency Plan.latest_per_issue.price_with_tax %>, 
  znesek letne naročnine je 
  <%= number_to_currency Plan.latest_yearly.price_with_tax %>.
</p>

<%= render "form" %>
<br class="clear">
<p>S klikom na gumb <strong>Naročam revijo Vzgojiteljica</strong> boste oddali naročilo. Če v naročilu ne bo napak, boste na navedeni e-naslov prejeli avtomatsko potrdilo.</p>
<p>Ko bomo naročilo obdelali, pa vas bomo o tem tudi osebno kontaktirali preko e-pošte.</p>