<%= admin_section do %>
	<%= link_to "Uredi", edit_copy_path(@copy) %>
<% end %>

<aside class="contact">
	<div id="editorial">
	  <h2>Uredništvo</h2>
	  <p>
	  	Glavna in odgovorna urednica<br>
	    mag. <strong>Betka Vrbovšek</strong><br>
 	    <%= link_to "betka.vrbovsek@gmail.com", "mailto:betka.vrbovsek@gmail.com" %>
 	  </p>
	  <p>
	  	Naslov uredništva:<br>
	    Revija Vzgojiteljica<br>
	    p.p. 23<br> 
	    3220 Štore<br>
	  </p>
	  
	  <h2>Uredniški odbor</h2>
	  <p>
	    <strong>Rozalija Kovač</strong>, univ. dipl. pedagog<br>
	    <strong>Betka Vrbovšek</strong>, mag. univ. dipl. pedagog<br>
	    <strong>Miha Rebernik</strong>, POZOJ s.p.
	  </p>
	</div>

	<div id="publisher">
	  <h2>Založnik</h2>
	  <%= image_tag 'pozoj_logo-100w.png' %>
	  <p>
	    <strong>POZOJ s.p.</strong><br>
	    <%= link_to "info@pozoj.si", "mailto:info@pozoj.si" %>
	  </p>
	</div>
</aside>

<div id="content">
	<% if @copy %>
		<h1><%= @copy.title %></h1>
		<%= raw @copy.copy_html %>
	<% end %>
	<%= link_to 'Želim prejemati revijo Vzgojiteljica', new_order_path, id: 'orderlink' %>
</div>
<br class="clear">