<table style="padding: 25px 5px;" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th style="text-align: left; font-size: 12px; border-bottom: 1px solid #efefef; font-family: sans-serif; padding: 4px 10px;">Naziv</th>
      <th style="text-align: left; font-size: 12px; border-bottom: 1px solid #efefef; font-family: sans-serif; padding: 4px 10px;">Zapadlo</th>
      <th style="text-align: left; font-size: 12px; border-bottom: 1px solid #efefef; font-family: sans-serif; padding: 4px 10px;">Znesek</th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td style="text-align: left; font-size: 12px; font-family: sans-serif; padding: 4px 10px;"><%= invoice.customer %></td>
        <td style="text-align: left; font-size: 12px; font-family: sans-serif; padding: 4px 10px;"><%= l invoice.due_at, format: :simple %></td>
        <td style="text-align: left; font-size: 12px; font-family: sans-serif; padding: 4px 10px;"><%= number_to_currency invoice.total %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th style="text-align: left; font-size: 12px; border-top: 1px solid #efefef; font-family: sans-serif; padding: 4px 10px;"> 
        <%= @invoices.count %>
        raÄunov
      </th>
      <th style="text-align: left; font-size: 12px; border-top: 1px solid #efefef; font-family: sans-serif; padding: 4px 10px;"></th>
      <th style="text-align: left; font-size: 12px; border-top: 1px solid #efefef; font-family: sans-serif; padding: 4px 10px;"><%= number_to_currency @invoices.to_a.sum(&:total) %></th>
    </tr>
  </tfoot>
</table>