<div class="label">
  <div class="logo">
    <p><%= image_tag "pozoj_logo-100w.png" %></p>
    <p><strong><%= Entity.supra %></strong></p>
    <p><%= Entity.supra.address %><br><%= Entity.supra.post %></p>
  </div>
  <div class="address">
    <p>
      <strong><%= label.subscriber %></strong>
    </p>
    <% if label.subscriber.name.present? && label.subscriber.title.present? %>
      <p><%= label.subscriber.title %></p>
    <% end %>
    <p><%= label.subscriber.address %></p>
    <p><%= label.subscriber.post %></p>
  </div>
  <div class="quantity">
    <small><%= label.quantity %></small>
  </div>
  <div class="postage">
    <p>
      Poštnina plačana pri
      <br>
      pošti
      <% if params[:rewards] %>
        3320 Velenje
      <% else %>
        3102 Celje
      <% end %>
    </p>
  </div>
  <div class="classification"></div>
</div>
