<div class="label">
  <div class="logo">
    <p><%= image_tag "pozoj_logo-100w.png" %></p>
    <p><strong><%= Entity.pozoj %></strong></p>
    <p><%= Entity.pozoj.address %><br><%= Entity.pozoj.post %></p>
  </div>
  <div class="address">
    <p>
      <strong><%= label.subscriber %></strong>
    </p>
    <% if label.subscriber.name.present? && label.subscriber.title.present? %>
      <p><%= label.subscriber.title %></p>
    <% end %>
    <p><%= label.subscriber.address %></p>
    <p><%= label.subscriber.post %></p>
  </div>
  <div class="quantity">
    <small><%= label.quantity %></small>
  </div>
  <div class="postage">
    <p>
      Poštnina plačana pri
      <br>
      pošti <%= Entity.pozoj.post %>
    </p>
  </div>
  <div class="classification">NDP</div>
</div>