<script type="text/javascript">
  $(function() {
    $('#receipt_id').chosen({
      search_contains: true
    }).on('change', function() {
      window.location.href = $(this).parents('form').attr('action') + '/' + $(this).val();
    });
  });
</script>

<div class="col-xs-3 pull-right" style="margin-top: 20px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="glyphicon glyphicon-search"></i>
        Pojdi na ponudbo
      </h3>
    </div>
    <div class="panel-body">
      <%= form_tag admin_offers_path, method: :get, class: 'form-inline print_offers' do %>
        <div class="form-group">
          <%= select_tag :id, options_for_select(@all_offers), {class: 'form-control', id: 'receipt_id', placeholder: 'ID ponudbe', prompt: ""} %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<h2>
  Izdane ponudbe
  <% @years.each do |year| %>
    <small>
      <%= conditional_filtering_link(year,
            default: year == @year_now,
            param: :filter_year,
            param_value: year,
            route: admin_offers_path
      ) %>
      |
    </small>
  <% end %>

  <small><%= conditional_filtering_link "Vsa leta", param: :filter_year_all %></small>
</h2>
<%= paginate @offers %>
<table class="table rowlinks">
  <thead>
    <tr>
      <th>ID</th>
      <th>Stranka</th>
      <th>Izdana</th>
      <th>Znesek</th>
    </tr>
  </thead>
  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td>
          <%= link_to "", admin_offer_path(offer) %>
          <%= offer.receipt_id %></td>
        <td><%= offer.customer %></td>
        <td><%= l offer.created_at, format: :simple %></td>
        <td><%= number_to_currency offer.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @offers %>
