<% offer ||= @offer %>

<div class="receipt">
  <header>
    <%= image_tag "pozoj_logo-100w.png" %>
    <p>
      <strong><%= Entity.pozoj %></strong>
    </p>
    <p>
      <%= Entity.pozoj.address %>
      <br>
      <%= Entity.pozoj.post %>
      <br>
      <%= Entity.pozoj.email %>
    </p>
    <p>
      D. Št.: <%= Entity.pozoj.vat_id_formatted %>
      <br>
      Matična št.: <%= Entity.pozoj.registration_number %>
      <br>
      TRR: <%= Entity.pozoj.iban.prettify %>
      <br>
      Nismo zavezanec za DDV
    </p>
  </header>

  <div class="recipient">
    <p>
      <strong><%= offer.customer %></strong>
      <br>
      <%= offer.customer.address %>
      <br>
      <%= offer.customer.post %>
    </p>
  </div>

  <div class="details">
    <p>
      <% if offer.customer.vat_id? %>
        D.Št./ID št. za DDV kupca: <strong><%= offer.customer.vat_id_formatted %></strong>
        <br>
      <% end %>
      DDV ni obračunan po 1. točki 94. člena ZDDV.
      <br>
      <br>
      Ponudba izdana: <strong><%= l offer.created_at.to_date, format: :simple %></strong> v Velenju
    </p>
  </div>

  <h1>Ponudba <%= offer.receipt_id %></h1>

  <div class="items">
    <table>
      <thead>
        <tr>
          <th>Prejemnik</th>
          <th>Artikel/Storitev</th>
          <th>Kol.</th>
          <th>EM</th>
          <th>Cena</th>
          <th>Popust</th>
          <th>Cena s popustom</th>
          <th>Skupaj</th>
        </tr>
      </thead>
      <tbody>
        <% offer.line_items.each do |li| %>
          <tr>
            <td><%= li.entity_name %></td>
            <td><%= li.product %></td>
            <td><%= li.quantity %></td>
            <td><%= li.unit %></td>
            <td><%= number_to_currency li.price_per_item %></td>
            <td><%= number_to_percentage li.discount_percent || 0 %></td>
            <td><%= number_to_currency li.price_per_item_with_discount %></td>
            <td><%= number_to_currency li.subtotal %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="totals">
    <p>
      Skupaj za plačilo:
      <strong><%= number_to_currency offer.total %></strong>
    </p>
  </div>

  <div class="signature">
    <%= image_tag "darja_sig.png" %>
    <p>
      <strong>Pripravila:</strong>
      <br>
      Darja Slapničar
    </p>
  </div>
</div>
