<br>

<table class="table rowlinks">
  <thead>
    <tr>
      <th></th>
      <th>Naziv</th>
      <th>Naslov</th>
      <th>Pošta</th>
      <th>Nar.</th>
      <th>E-rač</th>
      <th>ID za DDV</th>
    </tr>
  </thead>
  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td>
          <% if entity.customer? %>
            <span class="glyphicon glyphicon-home"></span>
          <% elsif entity.subscriber? %>
            <span class="glyphicon glyphicon-envelope"></span>
          <% else %>
            <span class="glyphicon glyphicon-earphone"></span>
          <% end %>
        </td>
        <td>
          <% if entity.subscriber? %>
            <%= link_to "", admin_subscriber_path(entity) %>
          <% elsif entity.customer %>
            <%= link_to "", admin_customer_path(entity.customer) %>
          <% end %>
          <%= entity %>
          <% unless entity.customer? %>
            <br>
            <small class="text-muted"><%= entity.customer %></small>
          <% end %>
        </td>
        <td><%= entity.address %></td>
        <td><%= entity.post %></td>
        <td>
          <% if entity.customer? || entity.subscriber? %>
            <% if (quantity = entity.subscriptions.active.sum(:quantity)) && (quantity > 0) %>
              <span class="active" style="padding: 0 4px; color: white; background: green;"><%= quantity %></span>
            <% else %>
              <span class="inactive" style="padding: 0 4px; color: white; background: red;"><%= quantity %></span>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if entity.customer? %>
            <% if entity.einvoice? %>
              &#10003;
            <% else %>
              &#10007;
            <% end %>
          <% end %>
        </td>
        <td><%= entity.vat_id_formatted %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @entities %>
