%h1
  Poštnina nagrad
  %small
    za
    št.
    = @issue
    teža
    == #{@issue.weight.to_i}g
    za
    = @issue.num_pages
    strani

.topright_info
  %p
    %strong Naročnik
    %br
    = Entity.pozoj 
    %br
    == #{Entity.pozoj.address}, #{Entity.pozoj.post}, #{Entity.pozoj.email}
    %br
    D. Št.: #{Entity.pozoj.vat_id_formatted}, M. Št.: #{Entity.pozoj.registration_number}

  %br
  %br

%table.table
  %thead
    %tr
      %th Vrsta poštne storitve
      %th Teža pošiljke
      %th Št. pošiljk
      %th Cena pošiljke
      %th Skupaj
  %tbody
    - @postal_costs.each do |service_type, postal_costs|
      %tr
        %th{colspan: 5}= service_type
      - postal_costs.each do |postal_cost|
        %tr
          %td
            %small.muted
              == #{postal_cost[:postal_cost].weight_from} g
              &dash;
              == #{postal_cost[:postal_cost].weight_to} g
          %td
            == #{number_with_delimiter(postal_cost[:package_weight].to_i)} g
            %small.muted== (#{postal_cost[:quantity]} kom.)
          %td= postal_cost[:packages]
          %td= number_to_currency postal_cost[:package_price]
          %td= number_to_currency postal_cost[:price]
  %tfoot
    %tr
      %th Skupaj
      %th
        = number_with_delimiter @postal_costs.sum { |service_type, postal_costs| postal_costs.sum { |pc| pc[:package_weight] * pc[:packages] } }.to_i
        g
        %small.muted== (#{@postal_costs.sum { |service_type, postal_costs| postal_costs.sum { |pc| pc[:quantity] * pc[:packages] } } } kom.)
      %th= @postal_costs.sum { |service_type, postal_costs| postal_costs.sum { |pc| pc[:packages] } }
      %th
      %th= number_to_currency @postal_costs.sum { |service_type, postal_costs| postal_costs.sum { |pc| pc[:price] } }
