%h1 Brezplačni prejemniki

.admin_actions
  = link_to "Dodaj novega", new_freerider_admin_customers_path, class: 'btn btn-default btn-xs'

%table.table.rowlinks
  %thead
    %tr
      %th Naročnina
      %th Prejemnik
      %th Pričetek prejemanja
      %th Konec prejemanja
      %th Količina
      %th Nagradno
  %tbody
    - @freeriders.each do |subscription|
      %tr
        %td
          = link_to "", admin_subscription_path(subscription)
          Naročnina
          == ##{subscription.id}
        %td= subscription.subscriber
        %td= l subscription.start
        %td
          - if subscription.end
            = l subscription.end
          - else
            &mdash;
        %td= subscription.quantity
        %td
          - if subscription.is_reward?
            = subscription.reward_tier
          - else
            &mdash;
  %tfoot
    %tr
      %th
      %th
      %th
      %th Skupaj
      %th= @freeriders.sum(:quantity)
      %th
