.jumbotron
  %h1 
    Vzgojiteljica
    %br
    %small= l Time.now

.row
  .col-xs-6
    %h2
      = Customer.active_count
      %small naročnikov
    %h3
      = Customer.paid_count
      %small plačljivih naročnikov
    %h3
      = Order.not_processed.count
      %small neobdelanih naročil
    %hr
    %h2
      = Subscription.active.sum(:quantity)
      %small izvodov
    %h3
      = Subscription.active.paid.sum(:quantity)
      %small plačljivih izvodov
    %h3
      = Subscription.active.free.sum(:quantity)
      %small brezplačnih izvodov
    %hr
    %h2
      = @invoices.count
      %small izdanih računov
    %h3
      = number_to_currency @invoices.paid.to_a.sum(&:total)
      %small
        znesek
        = @invoices.paid.count
        plačanih računov 
    %h3
      = number_to_currency @invoices.unpaid.unreversed.to_a.sum(&:total)
      %small 
        znesek 
        = @invoices.unpaid.unreversed.count
        neplačanih računov
    %h3
      = number_to_currency @invoices.reversed.to_a.sum(&:total)
      %small 
        znesek 
        = @invoices.reversed.count
        storniranih računov
    %hr
    %h2
      = Issue.last
      %small zadnja številka


  .col-xs-4.pull-right
    .panel.panel-default
      .panel-heading 
        %h3.panel-title Ustvari novo
      .panel-body
        = link_to new_admin_customer_path, class: 'btn btn-success' do
          %i.glyphicon.glyphicon-home
          Stranko     

%br
%br

.panel.panel-default
  .panel-heading 
    %h3.panel-title Zadnje opombe
  %table.table
    %tbody
      - Remark.all.order(created_at: :desc).limit(10).each do |r|
        %tr
          %td= truncate r.remark, length: 255
          %td
            - if r.remarkable
              = link_to r.remarkable.to_s, polymorphic_path([:admin, r.remarkable])
          %td= r.user
          %td
            - if r.created_at > 1.week.ago
              pred
              = distance_of_time_in_words_to_now r.created_at
            - else
              = l r.created_at