.jumbotron
  %h1 
    Vzgojiteljica
    %br
    %small= l Time.now

.row
  .col-xs-8
    %h2
      = Customer.all.count
      %small naročnikov

    %h2
      = Subscriber.active.sum(:quantity)
      %small izvodov

    %h2
      = @last_issue
      %small zadnja številka

  .col-xs-4
    .panel.panel-default
      .panel-heading 
        %h3.panel-title Ustvari novo
      .panel-body
        = link_to new_admin_customer_path, class: 'btn btn-success' do
          %i.glyphicon.glyphicon-home
          Stranko     

%br
%br

.panel.panel-default
  .panel-heading 
    %h3.panel-title Zadnje opombe
  %table.table
    %tbody
      - Remark.all.order(created_at: :desc).limit(10).each do |r|
        %tr
          %td= truncate r.remark, length: 255
          %td
            - if r.remarkable
              = link_to r.remarkable.to_s, polymorphic_path([:admin, r.remarkable])
          %td= r.user
          %td
            - if r.created_at > 1.week.ago
              pred
              = distance_of_time_in_words_to_now r.created_at
            - else
              = l r.created_at