%h1
  Količine
  - if params[:only_paid]
    = link_to "Prikaži vse", admin_quantities_path, class: 'btn btn-primary btn-xs'
  - else
    = link_to "Prikaži samo plačljive", admin_quantities_path(only_paid: true), class: 'btn btn-default btn-xs'

%table.table
  %thead
    %tr
      %th Količina
      %th Št. naročnikov
      %th Skupno
  %tbody
    - @quantities.each do |quantity, subscribers|
      %tr
        %td= quantity
        %td= subscribers.count
        %td= quantity * subscribers.count
  %tfoot
    %tr
      %th
      %th= @quantities.inject(0) { |sum, quantities| sum += quantities.last.count }
      %th= @quantities.inject(0) { |sum, quantities| sum += (quantities.first * quantities.last.count) }