%h1 Količine
%table.table
  %thead
    %tr
      %th Količina
      %th Št. naročnikov
      %th Skupno
  %tbody
    - @quantities.each do |quantity, subscribers|
      %tr
        %td= quantity
        %td= subscribers.count
        %td= quantity * subscribers.count
  %tfoot
    %tr
      %th
      %th= @quantities.inject(0) { |sum, quantities| sum += quantities.last.count }
      %th= @quantities.inject(0) { |sum, quantities| sum += (quantities.first * quantities.last.count) }

