%h1
  Količine
  %small
    - if params[:which] == 'customers'
      po naročnikih
    - else
      po prejemnikih
    - if @paid
      brez brezplačnih prejemnikov

.admin_actions
  - if @paid
    = link_to "Prikaži vse", admin_quantities_path(which: @which), class: 'btn btn-primary btn-xs'
  - else
    = link_to "Prikaži samo plačljive", admin_quantities_path(only_paid: true, which: @which), class: 'btn btn-default btn-xs'

  - if params[:which] == 'customers'
    = link_to "Prikaži prejemnike za pošto", admin_quantities_path(only_paid: params[:only_paid], which: 'subscribers'), class: 'btn btn-default btn-xs'
  - else
    = link_to "Prikaži naročnike", admin_quantities_path(only_paid: params[:only_paid], which: 'customers'), class: 'btn btn-default btn-xs'

%table.table
  %thead
    %tr
      %th Količina
      %th
        - if params[:which] == 'customers'
          Št. naročnikov
        - else
          Št. prejemnikov
      %th Skupno
  %tbody
    - @quantities.each do |quantity, subscribers|
      %tr
        %td= quantity
        %td= subscribers.count
        %td= quantity * subscribers.count
  %tfoot
    %tr
      %th
      %th= @quantities.inject(0) { |sum, quantities| sum += quantities.last.count }
      %th= @quantities.inject(0) { |sum, quantities| sum += (quantities.first * quantities.last.count) }