%h1
  Pregled naročnikov po regijah

%table.table
  %thead
    %tr
      %th{rowspan: 2} Regija
      %th{colspan: 2} Naročnikov
      %th{colspan: 2} Količina
    %tr
      %th Št.
      %th %
      %th Št.
      %th %      
  %tbody
    - @regional.each do |region, data|
      %tr
        %td= region
        %td= data[:customers_count]
        %td= number_to_percentage (data[:customers_count] / @total_customers.to_f) * 100
        %td= data[:quantities_count]
        %td= number_to_percentage (data[:quantities_count] / @total_quantity.to_f) * 100

  %tfoot
    %tr
      %th
      %th= @total_customers
      %th 100.00%
      %th= @total_quantity
      %th 100.00%