<h1>
  NaroÄnina
  <small class="muted">
    za
    <%= link_to @subscription.customer, [:admin, @subscription.customer] %>,
    prejemnik
    <%= link_to @subscription.subscriber, [:admin, @subscription.subscriber] %>
  </small>
</h1>

<%= simple_form_for [:admin, @subscription] do |f| %>
  <%= f.input :start %>
  <%= f.input :end, include_blank: true %>
  <%= f.association :plan %>
  <%= f.input :discount %>
  <%= f.input :order_form %>
  <%= f.submit %>
<% end %>
