<h1>
  Naročnina
  <% if @subscription.active? %>
    <small class="label label-success">Aktivna</small>
  <% else %>
    <small class="label label-danger">Neaktivna</small>
  <% end %>
  <% if @subscription.is_reward? %>
    <small class="label label-warning"><i class="glyphicon glyphicon-gift"></i></small>
  <% end %>
  <br>
  <small class="muted">
    Naročnik
    <%= link_to @subscription.customer, [:admin, @subscription.customer] %>,
    prejemnik
    <%= link_to @subscription.subscriber, [:admin, @subscription.subscriber] %>
  </small>
</h1>

<div class="admin_actions">
  <%= link_to edit_admin_subscription_path(@subscription), class: 'btn btn-default' do %>
    <i class="glyphicon glyphicon-edit"></i>
    Uredi
  <% end %>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>Pričetek:</strong>
        <p>
          <%= l @subscription.start %>
        </p>
        <% if @subscription.end %>
          <strong>Konec:</strong>
          <p>
            <%= l @subscription.end %>
          </p>
        <% end %>
        <strong>Količina:</strong>
        <p><%= @subscription.quantity %></p>
        <% if @subscription.discount %>
          <strong>Popust:</strong>
          <p>
            <%= number_to_percentage @subscription.discount %>
          </p>
        <% end %>
        <strong>Plan:</strong>
        <p>
          <%= @subscription.plan %>
        </p>
        <% if @subscription.is_reward? %>
          <strong>Nagradna naročnina:</strong>
          <p>
            <i class="glyphicon glyphicon-gift"></i>
            <%= @subscription.reward_tier %>
          </p>
        <% end %>
        <hr>
        <strong>Kreiran:</strong>
        <p>
          <%= l @subscription.created_at %>
        </p>
        <strong>Osvežen:</strong>
        <p>
          <%= l @subscription.updated_at %>
        </p>
        <hr>
        <p>
          <% unless @subscription.plan.free? %>
            <%= link_to build_for_subscription_admin_invoices_path(subscription_id: @subscription), class: 'btn btn-sm btn-success', method: :post do %>
              <i class="glyphicon glyphicon-asterisk"></i>
              <% if @subscription.plan.yearly? %>
                Ustvari račun za to leto
              <% else %>
                Ustvari račun za zadnjo št.
              <% end %>
            <% end %>
          <% end %>

          <% if @subscription.plan.yearly? && !(1..3).include?(Date.today.month) %>
              <%= link_to '#', class: 'btn btn-sm btn-success', id: 'build_partial_invoice' do %>
                <i class="glyphicon glyphicon-asterisk"></i>
                Ustvari račun za preostale št.
              <% end %>
          <% end %>
        </p>

        <% unless @subscription.active? %>
          <%= link_to reinstate_admin_subscription_path(@subscription), class: 'btn btn-sm btn-success', method: :put do %>
            <i class="glyphicon glyphicon-refresh"></i>
            Ponovno aktiviraj
          <% end %>
        <% end %>

        <% if @subscription.active? && !@subscription.end? %>
          <%= link_to end_by_end_of_year_admin_subscription_path(@subscription), class: 'btn btn-sm btn-warning', method: :put do %>
            <i class="glyphicon glyphicon-remove"></i>
            Končaj s koncem leta
          <% end %>
        <% end %>

        <% if @subscription.active? %>
          <%= link_to end_now_admin_subscription_path(@subscription), class: 'btn btn-sm btn-danger', method: :put do %>
            <i class="glyphicon glyphicon-remove"></i>
            Končaj
          <% end %>
        <% end %>
      </div>
    </div>
    <% if @subscription.order_form %>
      <% order_form = @subscription.order_form %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Naročilnica
            <%= link_to "Uredi", edit_admin_order_form_path(order_form), class: 'btn btn-default btn-xs pull-right' %>
          </h3>
        </div>
        <div class="panel-body">
          <%= render 'admin/order_forms/fields', order_form: @subscription.order_form %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-xs-6">
    <%= render "admin/remarks/form", resource: @subscription %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Naročnik</h3>
      </div>
      <div class="panel-body">
        <%= render "admin/customers/fields", resource: @subscription.customer %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Prejemnik</h3>
      </div>
      <div class="panel-body">
        <%= render "admin/subscribers/fields", resource: @subscription.subscriber %>

        <strong>
          <%= I18n.t 'attributes.quantity' %>
        </strong>
        <p><%= @subscription.quantity %> kom.</p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var url = '<%= build_partial_for_subscription_admin_invoices_path %>';
  $('#build_partial_invoice').on('click', function(e) {
    var issues_left = prompt('Za koliko številk izdamo račun:');

    $.post(url, {
      subscription_id: '<%= @subscription.id %>',
      issues_left: issues_left
    }, function(data, textStatus) {
        if (data.redirect) {
          window.location.href = data.redirect;
        }
    });

    e.preventDefault();
  })
</script>
