<h1>
  Naročnina
  <% if @subscription.active? %>
    <small class="label label-success">Aktivna</small>
  <% else %>
    <small class="label label-danger">Neaktivna</small>
  <% end %>
  <br>
  <small class="muted">
    Naročnik
    <%= link_to @subscription.customer, [:admin, @subscription.customer] %>,
    prejemnik
    <%= link_to @subscription.subscriber, [:admin, @subscription.subscriber] %>
  </small>
</h1>

<div class="admin_actions">
  <%= link_to edit_admin_subscription_path(@subscription), class: 'btn btn-default' do %>
    <i class="glyphicon glyphicon-edit"></i>
    Uredi
  <% end %>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>Pričetek:</strong>
        <p>
          <%= l @subscription.start %>
        </p>
        <% if @subscription.end %>
          <strong>Konec:</strong>
          <p>
            <%= l @subscription.end %>
          </p>
        <% end %>
        <strong>Količina:</strong>
        <p><%= @subscription.quantity %></p>
        <% if @subscription.discount %>
          <strong>Popust:</strong>
          <p>
            <%= number_to_percentage @subscription.discount %>
          </p>
        <% end %>
        <strong>Plan:</strong>
        <p>
          <%= @subscription.plan %>
        </p>
        <% if @subscription.order_form %>
          <strong>Št. naročilnice:</strong>
          <p>
            <% if @subscription.order %>
              <%= link_to @subscription.order_form, admin_order_path(@subscription.order) %>
            <% else %>
              <%= @subscription.order_form %>
            <% end %>
          </p>
        <% end %>
        <hr>
        <strong>Kreiran:</strong>
        <p>
          <%= l @subscription.created_at %>
        </p>
        <strong>Osvežen:</strong>
        <p>
          <%= l @subscription.updated_at %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Orodja za naročnino</h3>
      </div>
      <div class="panel-body">
        <% unless @subscription.plan.free? %>
          <%= link_to build_for_subscription_admin_invoices_path(subscription_id: @subscription), class: 'btn btn-sm btn-success', method: :post do %>
            <i class="glyphicon glyphicon-asterisk"></i>
            <% if @subscription.plan.yearly? %>
              Ustvari račun za to leto
            <% else %>
              Ustvari račun za zadnjo št.
            <% end %>
          <% end %>
        <% end %>

        <% unless @subscription.active? %>
          <%= link_to reinstate_admin_subscription_path(@subscription), class: 'btn btn-sm btn-success', method: :put do %>
            <i class="glyphicon glyphicon-refresh"></i>
            Ponovno aktiviraj
          <% end %>
        <% end %>

        <% if @subscription.active? && !@subscription.end? %>
          <%= link_to end_by_end_of_year_admin_subscription_path(@subscription), class: 'btn btn-sm btn-warning', method: :put do %>
            <i class="glyphicon glyphicon-remove"></i>
            Končaj s koncem leta
          <% end %>
        <% end %>

        <% if @subscription.active? %>
          <%= link_to end_now_admin_subscription_path(@subscription), class: 'btn btn-sm btn-danger', method: :put do %>
            <i class="glyphicon glyphicon-remove"></i>
            Končaj
          <% end %>
        <% end %>
      </div>
    </div>

    <%= render "admin/remarks/form", resource: @subscription %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Naročnik</h3>
      </div>
      <div class="panel-body">
        <%= render "admin/customers/fields", resource: @subscription.customer %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Prejemnik</h3>
      </div>
      <div class="panel-body">
        <%= render "admin/subscribers/fields", resource: @subscription.subscriber %>

        <strong>
          <%= I18n.t 'attributes.quantity' %>
        </strong>
        <p><%= @subscription.quantity %> kom.</p>
      </div>
    </div>
  </div>
</div>