<%= title "Odgovori na vprašanje"%>

<p><span class="author">Ime:</span> <%= @inquiry.name %></p>
<p><span class="author">Institucija:</span> <%= @inquiry.institution %></p>
<p><span class="author">E-pošta:</span> <%= @inquiry.email %></p>
<p><span class="author">Telefon:</span> <%= @inquiry.phone %></p>
<p><span class="author">Zadeva:</span> <%= @inquiry.subject %></p>
<p><span class="author">Vprašanje:</span> <%= @inquiry.question %></p>

<%= simple_form_for @inquiry, url: answer_inquiry_path(@inquiry) do |f| %>
  <%= f.input :answer %>
  <%= f.input :published, label: "Odgovor naj bo viden na Vzgojiteljica.si" %>
  <div class="submit">
    <%= f.submit %>
  </div>
<% end %>