= title "Vprašanja"
= admin_section do
  = link_to "Pregled", all_inquiries_path

#inquiry
  %p#gotquestion Vas kaj zanima? Vprašajte nas!
  = render "form", :resource => Inquiry.new

#content
  %table
    %thead
      %tr
        %th.question Vprašanje
        %th 
    %tbody
      - collection.each do |inquiry|
        %tr
          %td= inquiry.question
          %td= l inquiry.created_at, format: :simple
%br.clear