= title "Vprašanja"
= admin_section do
  = link_to "Pregled", all_inquiries_path

#inquiry
  %p#gotquestion Vas kaj zanima? Vprašajte nas!
  = render "form", :resource => Inquiry.new

#content
  %table
    %tbody
      - collection.each do |inquiry|
        %tr
          %td.question_title= link_to inquiry, inquiry
          %td.created_at= l inquiry.created_at, format: :simple
%br.clear