<%= title @inquiry %>

<%= admin_section do %>
  <%= link_to "Odstrani", @inquiry, method: :delete, data: { confirm: 'Ste prepričani?' } %>
  <%= link_to "Uredi", edit_inquiry_path(@inquiry) %>
  <%= link_to "Odgovori vprašanje", answer_question_inquiry_path(@inquiry) %>
  <% if signed_in? %>
    <span class="published_status">
      <% if @inquiry.published? %>
        Vprašanje je vidno
      <% else %>
        Vprašanje ni vidno
      <% end %>
    </span>
  <% end %>
<% end %>


<div id="question">
  <%= simple_format @inquiry.question %>
  <p class='author'>
    &mdash;
    <% if @inquiry.name.present? || @inquiry.institution.present? %>
      <%= @inquiry.name %>
      <% if @inquiry.institution.present? %>
        (<%= @inquiry.institution %>)
      <% end %>
    <% else %>
      Anonimen uporabnik
    <% end %>
  </p>
</div>

<div id="answer">
  <% if @inquiry.answer? %>
    <p>
      Odgovor
      <span class="date"><%= l @inquiry.updated_at, format: :simple %></span>
    </p>
    <strong><%= simple_format @inquiry.answer %></strong>
  <% else %>
    <p>
      To vprašanje še ni odgovorjeno.
    </p>
  <% end %>
</div>