<%= title resource %>

<%= admin_section do %>
  <%= link_to "Odstrani", resource, method: :delete, confirm: 'Ste prepričani?' %>
  <%= link_to "Uredi", edit_inquiry_path(resource) %>
  <%= link_to "Odgovori vprašanje", answer_question_inquiry_path(resource) %>
<% end %>

<div id="question">
  Vprašanje:
  <p>
    <strong><%= resource.question %></strong>
  </p>
</div>
<p>
  <% if resource.answer? %>
    <%= resource.answer %>
  <% else %>
    To vprašanje še ni odgovorjeno.
  <% end %>
</p>
