<%= title @inquiry %>

<%= admin_section do %>
  <%= link_to "Odstrani", @inquiry, method: :delete, data: { confirm: 'Ste prepričani?' } %>
  <%= link_to "Uredi", edit_inquiry_path(@inquiry) %>
  <%= link_to "Odgovori vprašanje", answer_question_inquiry_path(@inquiry) %>
<% end %>

<div id="question">
  <p>
    <span>&ldquo;</span><%= @inquiry.question %><span>&rdquo;</span>
  </p>
  <p class='author'>
    &mdash;
    <%= @inquiry.name %>
    <% if @inquiry.institution.present? %>
      (<%= @inquiry.institution %>)
    <% end %>
  </p>
</div>

<div id="answer">
  <p>Odgovor:</p>
  <p>
    <% if @inquiry.answer? %>
      <strong><%= @inquiry.answer %></strong>
    <% else %>
      To vprašanje še ni odgovorjeno.
    <% end %>
  </p>
</div>
