<%= title resource %>

<%= admin_section do %>
  <%= link_to "Odstrani", resource, method: :delete, confirm: 'Ste prepričani?' %>
  <%= link_to "Uredi", edit_inquiry_path(resource) %>
  <%= link_to "Odgovori vprašanje", answer_question_inquiry_path(resource) %>
<% end %>

<div id="question">
  <p>
    <span>&ldquo;</span><%= resource.question %><span>&rdquo;</span>
  </p>
  <p class='author'>
    &mdash;
    <%= resource.name %>
    <% if resource.institution.present? %>
      (<%= resource.institution %>)
    <% end %>
  </p>
</div>

<div id="answer">
  <p>Odgovor:</p>
  <p>
    <% if resource.answer? %>
      <strong><%= resource.answer %></strong>
    <% else %>
      To vprašanje še ni odgovorjeno.
    <% end %>
  </p>
</div>
