<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700|Pontano+Sans|Comfortaa' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Trocchi|Pacifico|Merriweather:400,300,700|Open+Sans:300italic,400italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <title>
      <% if @page_title %>
        <%= @page_title %> (Revija Vzgojiteljica)
      <% else %>
        Vzgojiteljica - Revija za dobro prakso v vrtcih
      <% end %>
    </title>
  </head>
  
  <body id="<%= body_id %>" class="<%= body_class %>">
    <header>
      <div class="inner">
        <%= image_tag 'bird.png' %>
        <div id="logo">
          <%= link_to root_path do %>
            <%= image_tag 'bubble.png' %>
            <h1>vzgojiteljica</h1>
          <% end %>
        </div>
        <nav id="menu">
          <ul>
            <%= menu_item 'Predstavitev', root_path, :root %>
            <%= menu_item 'Številke', issues_path, :issues %>
            <%= menu_item 'Članki', articles_path, :articles %>
            <%= menu_item 'Vprašanja', inquiries_path, :inquiries %>
            <%= menu_item 'Naročilo', new_order_path, :orders %>
          </ul>
        </nav>
      </div>
    </header>
    
    <div id="container">
      <%= yield %>
    </div>
    
    <footer>
      <div id="pozoj">
        <p><strong>Pozoj, d.o.o.</strong></p> 
        <p>T: 03 897 01 22</p> 
        <p>F: 03 897 01 24</p> 
        <p>E: <%= link_to "info@pozoj.si", "mailto:info@pozoj.si" %></p>
        <p>W: <%= link_to "http://pozoj.si", "http://pozoj.si" %></p>
      </div>
      <div id="lower_menu">
        <p>
          <%= link_to 'Predstavitev', root_path %>  | 
          <%= link_to 'Številke', issues_path %>  | 
          <%= link_to 'Članki', articles_path %>  | 
          <%= link_to 'Vprašanja', inquiries_path %>  | 
          <%= link_to 'Naročila', new_order_path %> 
        </p>
        <% if signed_in? %>
          <p>
            <%= link_to 'Avtorji', authors_path %>  | 
            <%= link_to 'Institucije', institutions_path %>  | 
            <%= link_to 'Ključne besede', keywords_path %>
          </p>
        <% end %>
        <div id="login">
          <% if signed_in? %>
            Prijavljeni kot
            <strong><%= current_user %></strong>
            (<%= link_to 'Odjava', destroy_user_session_path, method: :delete, confirm: 'Ste prepričani da se želite odjaviti?' %>)
          <% else %>
            <%= link_to 'Prijava', new_user_session_path %>
          <% end %>
        </div>
      </div> 
    </footer>
  </body>
</html>
